---
---

$purple-1: #25064d;
$purple-2: #36175e;
$purple-3: #553285;
$purple-4: #7b52ab;
$purple-5: #9768d1; 
$side-font-color: #e6e6e6;
$light-font-color: #999;
$font-color: #262626;
$background-color: white;

body {
  color: $font-color;
  line-height: 1.4em;
  font-size: 18px !important;
  background-color: $background-color;
  font-family: 'PT Serif' serif !important;
}

.container {
  margin-left: 0px;
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.6em;
}

a {
  color: $purple-3;
  // text-decoration: underline;
}

a:hover {
  color: lighten($purple-2, 10%);
}

code {
  background-color: lighten($purple-2, 45%);
  color: $purple-2;
}

pre {
  white-space: pre-wrap;
}
.verticalalign {
  display: flex;
}

div.verticalalign:before,
div.verticalalign:after {
  display: none;
}

/* Navbar area */


.navbar.navbar-default {
  background-color: white;
  border-bottom: 0px solid #ddd;
  color: white;
  margin-bottom: 0;
  padding-top: 15px;



  .navbar-brand {
    a {
      color: white;
      text-decoration: none;

    }
  }

  a, li a { 
    color: $font-color;
    color: lighten($purple-1, 40%);
    font-family: 'Source Sans Pro', sans-serif;
  }

  button.navbar-toggle {
    border: 0;
    .icon-bar {
      background-color: $purple-3;
    }

    &:hover {
      background-color: darken($purple-2, 10%);
    }
  }

  .navbar-collapse {
    background-color: white;
    border-top: 0;
  }

}

.main {
  padding-left: 50px;
}

/* Sidebar */

h1.sidebar {
  color: $purple-5;
}
.sidebar-inner {
  margin: 0 10px 10px 30px;
}

.sidebar {
  background-color: $purple-1;
  color: $side-font-color;
  font-family: 'Source Sans Pro', sans-serif;

  a, li a {
    color: $font-color;
    color: #855532;
  }

  a:hover {
    color: $side-font-color;
  }

  button.sidebar-toggle {
    border: 0;
    .icon-bar {
      background-color: #FFF;
    }

    &:hover {
      background-color: darken($purple-2, 10%);
    }
  }

  .sidebar-collapse {
    border-top: 0;
  }

  .license {
    font-size: 80%;
  }
}

/* Home page intro */

.intro {
  background-color: $background-color;
  color: white;
  padding-top: 3em;
  padding-bottom: 0em;

  .logo-section {
    font-size: 10em;
    text-align: right;
    padding-top: 0.5em;
    padding-right: 0.2em;
    color: lighten($font-color, 40%);
  }

  .text-section {
    line-height: 2em;
    font-size: 2em;
  }
}

/* Main content */

.body {
  float: right;
  display: block;
}
/* Footer area */

footer {
  padding: 1em 0 1em 0;
  color: $purple-3;
  background-color: lighten($purple-5, 15%);

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}


/* Front page listings */

#airlock {
  margin-top: 1em;

  .section {
    margin: -0.4em 0 2em 0;
  }

  h2 {
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }

  h3 {
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  ul {
    list-style-type: square;
    /* padding: 0; */

    li {
      /* margin: 0 0 10px; */
    }
  }

  ul.menu {
    list-style-type: none;
  }

  .entries {
    list-style-type: none;
    padding: 0;

    li {
      text-indent: -3em;
      padding-left: 3em;
      padding-bottom: 0.5em;
    }

    .date {
      color: $light-font-color;
    }

    .title {
      font-weight: 600;
    }

    .description {
      color: $light-font-color;
      text-indent: 0em;
      display: block;
    }
  }
}

/* Post page */

.post-date {
  color: $light-font-color;
}

.related-posts {
  
}

#post ul {
  padding: 0 0 0 2em;
}

.captioned {
  margin: 1em 0 1em 0;

  .caption {
    font-size: 0.9em;
    margin: 0.5em 0 0 0;
    color: $light-font-color;
  }
}

.captioned.pull-right {
  margin: 0em 0em 1em 1em;
}

.standalone {
  margin-bottom: 1em;
}