---
---

$purple-1: #25064d;
$purple-2: #36175e;
$purple-3: #553285;
$purple-4: #7b52ab;
$purple-5: #9768d1;
$side-font-color: #c0c0c0;
$light-font-color: #999;
$font-color: #262626;
$background-color: white;
$link-color:#cc00cc;

body {
  color: $font-color;
  line-height: 1.4em;
  font-size: 18px !important;
  background-color: $background-color;
  font-family: 'PT Serif' serif !important;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0.6em;
}

h2 {
font-size: 36px;
}

a {
  color: $purple-3;
  // text-decoration: underline;
}

a:hover {
  color: $link-color;
}

code {
  background-color: lighten($purple-2, 45%);
  color: $purple-2;
}

pre {
  white-space: pre-wrap;
}

/* Navbar area */


.navbar.navbar-default {
  background-color: white;
  border-bottom: 0px solid #ddd;
  color: white;
  margin-bottom: 0;
  padding-top: 15px;



  .navbar-brand {
    a {
      color: white;
      text-decoration: none;

    }
  }

  a, li a {
    color: $font-color;
    color: lighten($purple-1, 40%);
    font-family: 'Source Sans Pro', sans-serif;
  }

  button.navbar-toggle {
    border: 0;
    .icon-bar {
      background-color: $purple-3;
    }

    &:hover {
      background-color: darken($purple-2, 10%);
    }
  }

  .navbar-collapse {
    background-color: white;
    border-top: 0;
  }

}

/* Sidebar */

h1.sidebar {
  color: $purple-5;
  margin: 0;

}
.sidebar-inner {
  padding: 20px 10px 20px 0px
}

.sidebar {
  background-color: $purple-2;
  color: $side-font-color;
  font-family: 'Source Sans Pro', sans-serif;

  a, li a {
    color: lighten($purple-5, 15%);
  }

  a:hover {
    color: $link-color;
  }

  button.sidebar-toggle {
    border: 0;
    .icon-bar {
      background-color: #FFF;
    }

    &:hover {
      background-color: darken($purple-2, 10%);
    }
  }

  .sidebar-collapse {
    border-top: 0;
  }

  .license {
    font-size: 80%;
    line-height: 95%;
  }
}

/* Footer area */

footer {
  padding: 1em 0 1em 0;
  color: $purple-3;
  background-color: lighten($purple-5, 15%);

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}

@media (min-width: 992px) {
    .sidebar-inner {
      padding-left: 30px;
    }
    .container {
      margin-left: 0px;
    }

    .verticalalign {
      display: flex;
    }

    div.verticalalign:before,
    div.verticalalign:after {
      display: none;
    }
    .main {
      padding-left: 50px;
    }
}
