---
title: Projects
layout: default
menu: projects

---

<h3>Projects</h3>

{% assign projects = site.projects | sort: 'year' | reverse %}
<div class="card-deck">
  {% for project in projects %}
    <div class="card">
      {% if project.image %}
        <a href="{{ project.url }}">
          <img class="card-img-top" src="{{ project.image }}" alt="">
        </a>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ project.url }}">{{ project.title }}</a>
        </h5>
        {% if project.description %}
          <p class="card-text">
            {{ project.description }}
          </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
