<div class="posts">
    {% for post in include.posts %}
    <div class="post">
      <div class="row">
        <div class="col-sm-8">
          <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
          </a>
        </div>
        <div class="ml-auto col-sm-4 text-right mb-3">
          <time datetime="{{ post.date | date:"%Y-%m-%d" }}">
            {{ post.date | date_to_long_string }}
          </time>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{ post.excerpt | markdownify }}
          <p>
            <a href="{{ post.url }}">Read Post</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
