<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - zararah.net Zara Rahman</title>
    <meta name="author" content="Zara Rahman" />
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="Zara Rahman, zararah," />

	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >

    <!-- Beautification -->
    <link rel="alternate" type="application/atom+xml" title="Follow Zara's blog posts." href="http://zararah.net/atom.xml" />

  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 sidebar">
          <div class="sidebar-inner">
           <a href="{{ site.url }}"><h1 class="sidebar">Zara Rahman</h1></a>
          </div>
        </div>
        <div class="col-lg-8">
          {% include navigation.html %}
        </div>
      </div>
      <div class="row verticalalign">
        <div class="col-lg-8 col-lg-push-4 main">
          {{ content }}
        </div>
        <div class="col-lg-4 col-lg-pull-8 sidebar">
          {% include sidebar.html %}
        </div>
      </div>
  </div>
</body>
</html>


